.time {
    background-image: url('../../../public/imagens/fundo.png');
    background-size: cover;
    text-align: center;
    padding: 32px;
    position: relative;
}

.time h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
}

.time .colaboradores {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 32px;
}

.time .input-color{
    position: absolute;
    top: 20px;
    right: 50px;
}